//TODO: ==========>>>> BASE STYLES

//Font Family
$font : 'Nunito Sans', sans-serif;

//Font Weights
$weight-100: 300;
$weight-200: 600;
$weight-300: 800;

//Max Width
$max-width: rem(1300);

//Shadow
$shadow: rem(0) rem(1) rem(5) var(--color-400);


body {
    max-width: 100%;
    min-height: 100vh;
    background-color: var(--color-200);
    color: var(--color-300);
    font-size: rem(16);
    font-family: $font;
    font-weight: $weight-100;
}