.container {
    max-width: 100%;
    min-height: rem(0);

    &__inner {
        max-width: $max-width;
        margin: rem(0) auto;
        padding: rem(20);
        min-height: rem(500);
        display: grid;
        gap: rem(45);
        grid-template-columns: repeat(auto-fill, minmax(rem(250), 1fr));
        grid-auto-rows: 1fr;

    }
}
