.container {
    max-width: 100%;
    min-height: rem(0);

    &__inner {
        max-width: $max-width;
        margin: rem(20) auto;
        padding: rem(20);
        min-height: rem(500);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        & > * {
            flex: 1 rem(270);
            justify-self: flex-start;
            max-width: rem(280);
            min-height: rem(350);
        }
    }
}
